.screenshot-2025-01-10-201910-5 {
    position: absolute;
    top: 3119.63px;
    left: 147.38px;
    width: 630px;
    height: 150.8px;
    object-fit: cover;
}
.anush-sharma {
    position: absolute;
    top: 102.38px;
    left: 430.87px;
    font-size: 112.5px;
    line-height: 87.75px;
    text-transform: capitalize;
    font-family: var(--font-chomsky);
    color: var(--color-gray-200);
    text-align: center;
}
.data-science-aspirant {
    position: absolute;
    top: 203.63px;
    left: 583.87px;
    font-size: var(--font-size-3xl-5);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-darkslategray);
    text-align: center;
}
.portfolio-desktop-child {
    position: absolute;
    top: 256.5px;
    left: 169.88px;
    border: 1.7px solid var(--color-black);
    box-sizing: border-box;
    width: 1073.3px;
    height: 41.6px;
}
.portfolio-desktop-item {
    position: absolute;
    top: 256.5px;
    left: 164.25px;
    background-color: var(--color-gray-200);
    width: 156.4px;
    height: 41.6px;
}
.breaking-news {
    position: absolute;
    top: 262.13px;
    left: 172.12px;
    font-size: var(--font-size-lg);
    line-height: 160%;
    text-transform: uppercase;
    color: var(--color-white);
    display: inline-block;
    width: 194.6px;
}
.nd-runners-up-in {
    position: absolute;
    top: 262.13px;
    left: 330.75px;
    font-size: var(--font-size-lg);
    line-height: 160%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    white-space: pre-wrap;
    width: 1019.3px;
    height: 22.5px;
}
.recent-news {
    position: absolute;
    top: 304.88px;
    left: 146.25px;
    font-size: 19.13px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    display: inline-block;
    width: 217.1px;
}
.projects {
    position: absolute;
    top: 1074.38px;
    left: 146.25px;
    font-size: 29.25px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: 217.1px;
}
.skills {
    position: absolute;
    top: 2076.75px;
    left: 146.25px;
    font-size: 29.25px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: 217.1px;
}
.certifications-awards {
    position: absolute;
    top: 2507.63px;
    left: 147.38px;
    font-size: 29.25px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: 687.4px;
}
.activities-experiences {
    position: absolute;
    top: 3850.88px;
    left: 151.87px;
    font-size: 29.25px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: 687.4px;
}
.about-me {
    position: absolute;
    top: 4414.5px;
    left: 151.87px;
    font-size: 29.25px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: 687.4px;
}
.icon {
    position: absolute;
    top: 346.5px;
    left: 660.38px;
    width: 340.9px;
    height: 171px;
    object-fit: cover;
}
.nd-runners-up-in1 {
    position: absolute;
    top: 517.5px;
    left: 661.5px;
    font-size: 23.62px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 618.8px;
    height: 32.6px;
}
.position-in-the {
    position: absolute;
    top: 822.38px;
    left: 316.13px;
    font-size: var(--font-size-3xl-5);
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 934.9px;
    height: 37.1px;
}
.spotify-analysis-dashboard {
    position: absolute;
    top: 1132.88px;
    left: 639px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.customer-segmentation-with {
    position: absolute;
    top: 1446.75px;
    left: 639px;
    font-size: var(--font-size-3xl-5);
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.soft-skills {
    position: absolute;
    top: 2124px;
    left: 146.25px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.nd-runner-ups {
    position: absolute;
    top: 2567.25px;
    left: 373.5px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.business-analytics-for {
    margin: 0;
}
.business-analytics-for-container {
    position: absolute;
    top: 2754px;
    left: 373.5px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 130%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 633.4px;
    height: 37.1px;
}
.microsoft-learn-3 {
    position: absolute;
    top: 2957.63px;
    left: 147.38px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.amazon-ml-hackathon {
    position: absolute;
    top: 3279.38px;
    left: 151.87px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.samatrixio {
    position: absolute;
    top: 3520.13px;
    left: 151.87px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.devcrest {
    position: absolute;
    top: 3903.75px;
    left: 151.87px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.data-science-intern {
    position: absolute;
    top: 3903.75px;
    left: 824.62px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.codeclause {
    position: absolute;
    top: 3933px;
    left: 824.62px;
    font-size: 19.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-100);
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.unacademy {
    position: absolute;
    top: 4248px;
    left: 151.87px;
    font-size: 19.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-100);
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.sr-secondary {
    position: absolute;
    top: 4591.13px;
    left: 147.38px;
    font-size: 19.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-100);
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.coordinator-of-techfest {
    position: absolute;
    top: 4000.5px;
    left: 151.87px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.campus-ambassador {
    position: absolute;
    top: 4210.88px;
    left: 151.87px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.education {
    position: absolute;
    top: 4550.63px;
    left: 147.38px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.st-position-in {
    position: absolute;
    top: 2578.5px;
    left: 1015.87px;
    font-size: 20.25px;
    letter-spacing: 0.03em;
    line-height: 103%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 290.3px;
    height: 174.4px;
}
.programming-languages {
    position: absolute;
    top: 2126.25px;
    left: 420.75px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.framework {
    position: absolute;
    top: 2125.13px;
    left: 801px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.tools {
    position: absolute;
    top: 2358px;
    left: calc(50% - 369px);
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.pwc-power-bi-job-simulations {
    position: absolute;
    top: 1774.12px;
    left: 639px;
    font-size: 24.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.team-behind-pyduck {
    position: absolute;
    top: 616.5px;
    left: 660.38px;
    font-size: var(--font-size-lg);
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.by-anush-sharma {
    position: absolute;
    top: 1008px;
    left: 357.75px;
    font-size: 11.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.div {
    position: absolute;
    top: 1021.5px;
    left: 357.75px;
    font-size: 10.12px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.our-team-pyduck {
    position: absolute;
    top: 551.25px;
    left: 660.38px;
    font-size: 12.37px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 588.4px;
    height: 24.8px;
}
.i-developed-a {
    position: absolute;
    top: 1193.63px;
    left: 639px;
    font-size: 15.75px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 645.8px;
    height: 158.6px;
}
.customer-segmentation-using {
    position: absolute;
    top: 1495.13px;
    left: 639px;
    font-size: 15.75px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 645.8px;
    height: 158.6px;
}
.i-developed-a1 {
    position: absolute;
    top: 1834.88px;
    left: 639px;
    font-size: 15.75px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 645.8px;
    height: 158.6px;
}
.secured-the-2nd-container {
    position: absolute;
    top: 2616.75px;
    left: 373.5px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 627.8px;
    height: 157.5px;
}
.over-100-talented-container {
    position: absolute;
    top: 2629.13px;
    left: 1183.5px;
    font-size: 14.62px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    width: 112.5px;
    height: 506.3px;
}
.i-have-successfully {
    position: absolute;
    top: 2829.38px;
    left: 373.5px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 627.8px;
    height: 157.5px;
}
.member-of-a {
    position: absolute;
    top: 3946.5px;
    left: 151.87px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 1154.3px;
    height: 157.5px;
}
.as-the-coordinator {
    position: absolute;
    top: 4041px;
    left: 151.87px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 659.3px;
    height: 646.9px;
}
.i-am-a {
    position: absolute;
    top: 4470.75px;
    left: 151.87px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    width: 1154.3px;
    height: 646.9px;
}
.i-completed-my {
    position: absolute;
    top: 4644px;
    left: 147.38px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 776.3px;
    height: 130.5px;
}
.i-am-currently {
    position: absolute;
    top: 4910.63px;
    left: 147.38px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 776.3px;
    height: 227.3px;
}
.st-anselms-school {
    position: absolute;
    top: 4618.13px;
    left: 147.38px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 776.3px;
    height: 130.5px;
}
.jecrc-university-jaipur {
    position: absolute;
    top: 4883.63px;
    left: 147.38px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 776.3px;
    height: 130.5px;
}
.as-a-campus {
    position: absolute;
    top: 4276.13px;
    left: 151.87px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    width: 1154.3px;
    height: 646.9px;
}
.my-first-internship-container {
    position: absolute;
    top: 3963.38px;
    left: 825.75px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    width: 250.9px;
    height: 216px;
}
.foundation-to-ai {
    position: absolute;
    top: 3742.88px;
    left: 151.87px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    text-transform: uppercase;
    display: inline-block;
    width: 217.1px;
    height: 157.5px;
}
.statistics-using-python {
    position: absolute;
    top: 3742.88px;
    left: 388.12px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    text-transform: uppercase;
    display: inline-block;
    width: 290.3px;
    height: 157.5px;
}
.r-programming-for {
    position: absolute;
    top: 3742.88px;
    left: 643.5px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    text-transform: uppercase;
    display: inline-block;
    width: 217.1px;
    height: 157.5px;
}
.data-analysis-using {
    position: absolute;
    top: 3742.88px;
    left: 860.63px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    text-transform: uppercase;
    display: inline-block;
    width: 217.1px;
    height: 157.5px;
}
.machine-learning {
    position: absolute;
    top: 3742.88px;
    left: 1089px;
    font-size: var(--font-size-lg);
    line-height: 115%;
    text-transform: uppercase;
    display: inline-block;
    width: 217.1px;
    height: 157.5px;
}
.collaborative-effort-by {
    position: absolute;
    top: 587.25px;
    left: 660.38px;
    font-size: 12.37px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 588.4px;
    height: 23.6px;
}
.secured-container {
    position: absolute;
    top: 859.5px;
    left: 318.37px;
    font-size: 14.62px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    width: 930.4px;
    height: 138.4px;
}
.icon1 {
    position: absolute;
    top: 346.5px;
    left: 1006.87px;
    width: 241.9px;
    height: 171px;
    object-fit: cover;
}
.this-achievement-wouldnt-container {
    position: absolute;
    top: 644.63px;
    left: 661.5px;
    font-size: 12.37px;
    line-height: 109%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    width: 587.3px;
    height: 108px;
}
.icon2 {
    position: absolute;
    top: 347.63px;
    left: 316.13px;
    width: 256.5px;
    height: 463.5px;
    object-fit: cover;
}
.icon3 {
    position: absolute;
    top: 346.5px;
    left: 146.25px;
    width: 162px;
    height: 693px;
    object-fit: cover;
}
.icon4 {
    position: absolute;
    top: 2629.13px;
    left: 1017px;
    width: 162px;
    height: 693px;
    object-fit: cover;
}
.portfolio-desktop-inner {
    position: absolute;
    top: 345.94px;
    left: 638.44px;
    border-right: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1.1px;
    height: 464.6px;
}
.line-div {
    position: absolute;
    top: 345.94px;
    left: 579.94px;
    border-right: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1.1px;
    height: 464.6px;
}
.portfolio-desktop-child1 {
    position: absolute;
    top: 236.81px;
    left: 32.06px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1375.9px;
    height: 1.1px;
}
.portfolio-desktop-child2 {
    position: absolute;
    top: 82.69px;
    left: 32.06px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1375.9px;
    height: 1.1px;
}
.ellipse-icon {
    position: absolute;
    top: 1003.5px;
    left: 316.13px;
    border-radius: 50%;
    width: 33.8px;
    height: 33.8px;
    object-fit: cover;
}
.by-anush-sharma1 {
    position: absolute;
    top: 792px;
    left: 702px;
    font-size: 11.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.by-anush-sharma2 {
    position: absolute;
    top: 1374.75px;
    left: 677.25px;
    font-size: 11.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.by-anush-sharma3 {
    position: absolute;
    top: 1688.63px;
    left: 677.25px;
    font-size: 11.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.by-anush-sharma4 {
    position: absolute;
    top: 2016px;
    left: 677.25px;
    font-size: 11.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.by-anush-sharma5 {
    position: absolute;
    top: 2702.25px;
    left: 411.75px;
    font-size: 11.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.by-anush-sharma6 {
    position: absolute;
    top: 2904.75px;
    left: 411.75px;
    font-size: 11.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.jiddu-krishnamurti {
    position: absolute;
    top: 2313px;
    left: 1137.38px;
    font-size: 12.37px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.div1 {
    position: absolute;
    top: 805.5px;
    left: 702px;
    font-size: 10.12px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 618.8px;
    height: 24.8px;
}
.linkedin {
    position: absolute;
    top: 793.13px;
    left: 1190.25px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.github {
    position: absolute;
    top: 1358px;
    left: 677px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.github1 {
    position: absolute;
    top: 1672px;
    left: 677px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.github2 {
    position: absolute;
    top: 1999px;
    left: 677px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin1 {
    position: absolute;
    top: 2687.63px;
    left: 411.75px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin2 {
    position: absolute;
    top: 2890.13px;
    left: 411.75px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin3 {
    position: absolute;
    top: 3304.13px;
    left: 1183.5px;
    font-size: 12.37px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin4 {
    position: absolute;
    top: 3476.25px;
    left: 151.87px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin5 {
    position: absolute;
    top: 4216.5px;
    left: 824.62px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin6 {
    position: absolute;
    top: 4351.5px;
    left: 151.87px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin7 {
    position: absolute;
    top: 3809.25px;
    left: 151.87px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin8 {
    position: absolute;
    top: 3238.88px;
    left: 151.87px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.linkedin9 {
    position: absolute;
    top: 1019.25px;
    left: 1189.13px;
    font-size: 12.37px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-darkslategray);
    display: inline-block;
    width: 114.8px;
    height: 24.8px;
}
.portfolio-desktop-child3 {
    position: absolute;
    top: 787.5px;
    left: 660.38px;
    border-radius: 50%;
    width: 33.8px;
    height: 33.8px;
    object-fit: cover;
}
.portfolio-desktop-child4 {
    position: absolute;
    top: 1357.88px;
    left: 639px;
    border-radius: 50%;
    width: 33.8px;
    height: 33.8px;
    object-fit: cover;
}
.portfolio-desktop-child5 {
    position: absolute;
    top: 1671.75px;
    left: 639px;
    border-radius: 50%;
    width: 33.8px;
    height: 33.8px;
    object-fit: cover;
}
.portfolio-desktop-child6 {
    position: absolute;
    top: 1999.13px;
    left: 639px;
    border-radius: 50%;
    width: 33.8px;
    height: 33.8px;
    object-fit: cover;
}
.portfolio-desktop-child7 {
    position: absolute;
    top: 2685.38px;
    left: 373.5px;
    border-radius: 50%;
    width: 33.8px;
    height: 33.8px;
    object-fit: cover;
}
.portfolio-desktop-child8 {
    position: absolute;
    top: 2885.63px;
    left: 373.5px;
    border-radius: 50%;
    width: 33.8px;
    height: 33.8px;
    object-fit: cover;
}
.portfolio-desktop-child9 {
    position: absolute;
    top: 1053.56px;
    left: 145.69px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1155.4px;
    height: 1.1px;
}
.portfolio-desktop-child10 {
    position: absolute;
    top: 2058.19px;
    left: 145.69px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1155.4px;
    height: 1.1px;
}
.portfolio-desktop-child11 {
    position: absolute;
    top: 2481.19px;
    left: 146.81px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1155.4px;
    height: 1.1px;
}
.portfolio-desktop-child12 {
    position: absolute;
    top: 3836.81px;
    left: 151.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1155.4px;
    height: 1.1px;
}
.portfolio-desktop-child13 {
    position: absolute;
    top: 4391.44px;
    left: 151.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1155.4px;
    height: 1.1px;
}
.portfolio-desktop-child14 {
    position: absolute;
    top: 5093.44px;
    left: 142.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 1155.4px;
    height: 1.1px;
}
.portfolio-desktop-child15 {
    position: absolute;
    top: 1423.13px;
    left: 145.69px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 479.3px;
    height: 1.1px;
}
.portfolio-desktop-child16 {
    position: absolute;
    top: 1737px;
    left: 145.69px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 479.3px;
    height: 1.1px;
}
.portfolio-desktop-child17 {
    position: absolute;
    top: 2734.88px;
    left: 151.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 850.5px;
    height: 1.1px;
}
.portfolio-desktop-child18 {
    position: absolute;
    top: 2943.56px;
    left: 151.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 850.5px;
    height: 1.1px;
}
.portfolio-desktop-child19 {
    position: absolute;
    top: 3986.44px;
    left: 151.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 660.4px;
    height: 1.1px;
}
.portfolio-desktop-child20 {
    position: absolute;
    top: 4202.44px;
    left: 151.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 660.4px;
    height: 1.1px;
}
.portfolio-desktop-child21 {
    position: absolute;
    top: 3269.81px;
    left: 151.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 850.5px;
    height: 1.1px;
}
.portfolio-desktop-child22 {
    position: absolute;
    top: 3509.44px;
    left: 151.31px;
    border-top: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 906.8px;
    height: 1.1px;
}
.rectangle-div {
    position: absolute;
    top: 346.5px;
    left: 590.63px;
    background-color: var(--color-gray-200);
    width: 38.3px;
    height: 464.6px;
}
.rectangle-icon {
    position: absolute;
    top: 1132.88px;
    left: 146.25px;
    width: 478.1px;
    height: 266.6px;
    object-fit: cover;
}
.portfolio-desktop-child23 {
    position: absolute;
    top: 1446.75px;
    left: 146.25px;
    background-color: var(--color-gray-100);
    width: 478.1px;
    height: 266.6px;
}
.portfolio-desktop-child24 {
    position: absolute;
    top: 1774.12px;
    left: 146.25px;
    background-color: var(--color-gray-100);
    width: 478.1px;
    height: 266.6px;
}
.portfolio-desktop-child25 {
    position: absolute;
    top: 2167.88px;
    left: 417.38px;
    background-color: var(--color-gray-100);
    width: 69.8px;
    height: 31.5px;
}
.portfolio-desktop-child26 {
    position: absolute;
    top: 2166.75px;
    left: 146.25px;
    background-color: var(--color-gray-100);
    width: 238.5px;
    height: 31.5px;
}
.portfolio-desktop-child27 {
    position: absolute;
    top: 2209.5px;
    left: 146.25px;
    background-color: var(--color-gray-100);
    width: 217.1px;
    height: 31.5px;
}
.portfolio-desktop-child28 {
    position: absolute;
    top: 2254.5px;
    left: 146.25px;
    background-color: var(--color-gray-100);
    width: 159.8px;
    height: 31.5px;
}
.portfolio-desktop-child29 {
    position: absolute;
    top: 2212.88px;
    left: 417.38px;
    background-color: var(--color-gray-100);
    width: 122.6px;
    height: 31.5px;
}
.portfolio-desktop-child30 {
    position: absolute;
    top: 2257.88px;
    left: 417.38px;
    background-color: var(--color-gray-100);
    width: 218.3px;
    height: 31.5px;
}
.portfolio-desktop-child31 {
    position: absolute;
    top: 2304px;
    left: 417.38px;
    background-color: var(--color-gray-100);
    width: 72px;
    height: 31.5px;
}
.portfolio-desktop-child32 {
    position: absolute;
    top: 2167.88px;
    left: 801px;
    background-color: var(--color-gray-100);
    width: 96.8px;
    height: 31.5px;
}
.portfolio-desktop-child33 {
    position: absolute;
    top: 2167.88px;
    left: 913.5px;
    background-color: var(--color-gray-100);
    width: 174.4px;
    height: 31.5px;
}
.portfolio-desktop-child34 {
    position: absolute;
    top: 2212.88px;
    left: 923.63px;
    background-color: var(--color-gray-100);
    width: 174.4px;
    height: 31.5px;
}
.portfolio-desktop-child35 {
    position: absolute;
    top: 2212.88px;
    left: 801px;
    background-color: var(--color-gray-100);
    width: 106.9px;
    height: 31.5px;
}
.portfolio-desktop-child36 {
    position: absolute;
    top: 2257.88px;
    left: 801px;
    background-color: var(--color-gray-100);
    width: 153px;
    height: 31.5px;
}
.portfolio-desktop-child37 {
    position: absolute;
    top: 2305.13px;
    left: 801px;
    background-color: var(--color-gray-100);
    width: 85.5px;
    height: 31.5px;
}
.portfolio-desktop-child38 {
    position: absolute;
    top: 2300.63px;
    left: 146.25px;
    background-color: var(--color-gray-100);
    width: 156.4px;
    height: 31.5px;
}
.c {
    position: absolute;
    top: 2165.63px;
    left: 433.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.problem-solving {
    position: absolute;
    top: 2164.5px;
    left: 162px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.communication {
    position: absolute;
    top: 2207.25px;
    left: 158.63px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.leadership {
    position: absolute;
    top: 2252.25px;
    left: 158.63px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.python {
    position: absolute;
    top: 2210.63px;
    left: 433.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.r-programming {
    position: absolute;
    top: 2255.63px;
    left: 433.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.sql {
    position: absolute;
    top: 2301.75px;
    left: 433.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.numpy {
    position: absolute;
    top: 2165.63px;
    left: 806.63px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.scikit-learn {
    position: absolute;
    top: 2165.63px;
    left: 923.63px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.tensorflow {
    position: absolute;
    top: 2210.63px;
    left: 933.75px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.pandas {
    position: absolute;
    top: 2210.63px;
    left: 811.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.matplotlib {
    position: absolute;
    top: 2255.63px;
    left: 811.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.scipy {
    position: absolute;
    top: 2302.88px;
    left: 806.63px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.teamwork {
    position: absolute;
    top: 2298.38px;
    left: 158.63px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 735.8px;
    height: 37.1px;
}
.ffcade7ea39de9b876eb76bbbd4fed-icon {
    width: 90px;
    position: relative;
    height: 39.4px;
    object-fit: cover;
}
.ffcade7ea39de9b876eb76bbbd4fed-icon1 {
    width: 66.4px;
    position: relative;
    height: 34.9px;
    object-fit: cover;
}
.ffcade7ea39de9b876eb76bbbd4fed-icon2 {
    width: 66.4px;
    position: relative;
    height: 38.3px;
    object-fit: cover;
}
.a79050e42d729d928b1756-1-icon {
    width: 104.6px;
    position: relative;
    height: 52.9px;
    object-fit: cover;
}
.a79050e42d729d928b1756-3-icon {
    width: 45px;
    position: relative;
    height: 45px;
    object-fit: cover;
}
.a79050e42d729d928b1756-4-icon {
    width: 95.6px;
    position: relative;
    height: 25.9px;
    object-fit: cover;
}
.ffcade7ea39de9b876eb76bbbd4fed-parent {
    position: absolute;
    top: 2406.38px;
    left: calc(50% - 436.5px);
    width: 871.9px;
    height: 65.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 31.5px;
}
.portfolio-desktop-child39 {
    position: absolute;
    top: 2112.75px;
    left: 1116px;
    border-radius: 10.12px;
    border: 1.1px solid var(--color-black);
    box-sizing: border-box;
    width: 184.5px;
    height: 245.3px;
}
.there-is-no {
    position: absolute;
    top: 2131.88px;
    left: 1129.5px;
    font-size: 15.75px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    color: var(--color-gray-100);
    width: 164.3px;
    height: 181.1px;
}
.customer-segmentation-with1 {
    position: absolute;
    top: 1523.25px;
    left: 165.38px;
    font-size: 29.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 439.9px;
    height: 88.9px;
}
.pwc-power-bi {
    position: absolute;
    top: 1859.63px;
    left: 252px;
    font-size: 29.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 267.8px;
    height: 88.9px;
}
.portfolio-desktop-child40 {
    position: absolute;
    top: 2572.88px;
    left: 151.87px;
    width: 205.9px;
    height: 147.4px;
    object-fit: cover;
}
.portfolio-desktop-child41 {
    position: absolute;
    top: 2760.75px;
    left: 151.87px;
    width: 205.9px;
    height: 147.4px;
    object-fit: cover;
}
.portfolio-desktop-child42 {
    position: absolute;
    top: 3567.38px;
    left: 151.87px;
    width: 217.1px;
    height: 147.4px;
    object-fit: cover;
}
.portfolio-desktop-child43 {
    position: absolute;
    top: 3565.13px;
    left: 385.87px;
    width: 218.3px;
    height: 147.4px;
    object-fit: cover;
}
.portfolio-desktop-child44 {
    position: absolute;
    top: 3562.88px;
    left: 619.88px;
    width: 218.3px;
    height: 147.4px;
    object-fit: cover;
}
.portfolio-desktop-child45 {
    position: absolute;
    top: 3560.63px;
    left: 853.87px;
    width: 218.3px;
    height: 147.4px;
    object-fit: cover;
}
.portfolio-desktop-child46 {
    position: absolute;
    top: 3558.38px;
    left: 1089px;
    width: 217.1px;
    height: 147.4px;
    object-fit: cover;
}
.ffcade7ea39de9b876eb76bbbd4fed-icon4 {
    position: absolute;
    top: 3143.25px;
    left: 1183.5px;
    width: 66.4px;
    height: 38.3px;
    object-fit: cover;
}
.screenshot-2025-01-10-201910-6 {
    position: absolute;
    top: 2994.75px;
    left: 136.13px;
    width: 502.9px;
    height: 114.8px;
    object-fit: cover;
}
.screenshot-2025-01-10-201910-7 {
    position: absolute;
    top: 2995.88px;
    left: 664.88px;
    width: 319.5px;
    height: 114.8px;
    object-fit: cover;
}
.screenshot-2025-01-10-201910-8 {
    position: absolute;
    top: 3085.88px;
    left: 151.87px;
    width: 537.8px;
    height: 24.8px;
    object-fit: cover;
}
.portfolio-desktop-child47 {
    position: absolute;
    top: 2571.47px;
    left: 1008.84px;
    border: 0.6px solid var(--color-black);
    box-sizing: border-box;
    width: 293.1px;
    height: 771.2px;
}
.icon5 {
    position: absolute;
    top: 3283.88px;
    left: 486px;
    width: 338.6px;
    height: 178.9px;
    object-fit: cover;
}
.amazing-opportunity-to {
    position: absolute;
    top: 3351.38px;
    left: 839.25px;
    font-size: 16.88px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    text-align: justify;
    width: 462.4px;
    height: 124.9px;
}
.b00045a7d97-2-icon {
    position: absolute;
    top: 3260.25px;
    left: 841.5px;
    width: 150.8px;
    height: 112.5px;
    object-fit: cover;
}
.samatrix-io-logo-2-icon {
    position: absolute;
    top: 3476.25px;
    left: 1076.63px;
    width: 225px;
    height: 67.5px;
    object-fit: cover;
}
.unacademy-logo-2-icon {
    position: absolute;
    top: 4210.88px;
    left: 605.25px;
    width: 205.9px;
    height: 54px;
    object-fit: cover;
}
.inner-banner-2-icon {
    position: absolute;
    top: 4591.13px;
    left: 964.13px;
    width: 333px;
    height: 216px;
    object-fit: cover;
}
.bachelor-of-technology {
    position: absolute;
    top: 4835.25px;
    left: 147.38px;
    font-size: 19.13px;
    letter-spacing: 0.03em;
    line-height: 115%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-100);
    display: inline-block;
    width: 734.6px;
    height: 37.1px;
}
.drone-image-ju-2-icon {
    position: absolute;
    top: 4835.25px;
    left: 964.13px;
    width: 333px;
    height: 216px;
    object-fit: cover;
}
.portfolio-desktop-child48 {
    position: absolute;
    top: 5148px;
    left: -15px;
    background-color: var(--color-gray-100);
    width: 1470px;
    height: 204px;
}
.contact-info {
    position: absolute;
    top: 5168.25px;
    left: calc(50% - 805.5px);
    font-size: 29.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 687.4px;
}
.link-to-my {
    position: absolute;
    top: 5168.25px;
    left: calc(50% - 392.62px);
    font-size: 29.25px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 687.4px;
}
.portfolio-desktop-child49 {
    position: absolute;
    top: 5351.63px;
    left: -14.62px;
    background-color: var(--color-black);
    width: 1469.3px;
    height: 41.6px;
}
.email {
    position: absolute;
    top: 5224.5px;
    left: 147.38px;
    font-size: 19.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-silver);
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.phone-no {
    position: absolute;
    top: 5276.25px;
    left: 147.38px;
    font-size: 19.13px;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-silver);
    display: inline-block;
    width: 983.3px;
    height: 37.1px;
}
.anushsharma13cricgmailcom {
    position: absolute;
    top: 5249.25px;
    left: 147.38px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    color: var(--color-white);
    text-align: justify;
    width: 776.3px;
    height: 38.3px;
}
.i {
    position: absolute;
    top: 5306.63px;
    left: 147.38px;
    line-height: 115%;
    display: inline-block;
    font-family: var(--font-riccione-serial);
    color: var(--color-white);
    text-align: justify;
    width: 776.3px;
    height: 38.3px;
}
.group-icon {
    position: absolute;
    top: 5230.12px;
    left: 515.25px;
    width: 129.2px;
    height: 76.5px;
    object-fit: contain;
}
.mask-group-icon {
    position: absolute;
    top: 5243.63px;
    left: 678.18px;
    width: 110.2px;
    height: 52.9px;
    object-fit: cover;
}
.mask-group-icon1 {
    position: absolute;
    top: 5245.88px;
    left: 822.15px;
    width: 100.7px;
    height: 48.4px;
    object-fit: cover;
}
.mask-group-icon2 {
    position: absolute;
    top: 5238px;
    left: 956.64px;
    width: 64px;
    height: 60.8px;
    object-fit: cover;
}
.mask-group-icon3 {
    position: absolute;
    top: 5189.63px;
    left: 1054.39px;
    width: 135.1px;
    height: 157.5px;
    object-fit: cover;
}
.mask-group-icon4 {
    position: absolute;
    top: 5221.13px;
    left: 1223.24px;
    width: 132.7px;
    height: 94.5px;
    object-fit: cover;
}
.icon6 {
    position: absolute;
    top: 3327.75px;
    left: 154.13px;
    width: 324px;
    height: 137.3px;
    object-fit: cover;
}
.screenshot-2025-01-10-214336-2 {
    position: absolute;
    top: 3913.88px;
    left: 1103.63px;
    width: 196.9px;
    height: 286.9px;
    object-fit: cover;
}
.a {
    letter-spacing: 0.03em;
}
.s {
    letter-spacing: -0.2em;
}
.as {
    position: absolute;
    top: 10.12px;
    left: 75.38px;
    text-transform: uppercase;
    display: inline-block;
    width: 49.5px;
    cursor: pointer;
}
.home {
    position: relative;
    line-height: 160%;
    font-weight: 300;
    cursor: pointer;
}
.home-parent {
    position: absolute;
    top: 16.88px;
    left: 583.87px;
    width: 816.8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-lg);
    font-family: var(--font-outfit);
}
.as-parent {
    position: absolute;
    top: calc(50% - 2697.5px);
    left: calc(50% - 720px);
    background-color: var(--color-gray-100);
    width: 1445px;
    height: 64px;
    font-size: 32.63px;
    color: var(--color-white);
    font-family: var(--font-chomsky);
}
.linkedin10 {
    position: absolute;
    top: 5249px;
    left: 516px;
    font-size: 27.13px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-300);
}
.github3 {
    position: absolute;
    top: 5249px;
    left: 672px;
    font-size: 27.13px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-300);
}
.instagram {
    position: absolute;
    top: 5244px;
    left: 1053px;
    font-size: 27.13px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-300);
    display: inline-block;
    width: 136px;
    height: 44px;
}
.spotify {
    position: absolute;
    top: 5244px;
    left: 1224px;
    font-size: 27.13px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-300);
    display: inline-block;
    width: 132px;
    height: 44px;
}
.x {
    position: absolute;
    top: 5250px;
    left: 963px;
    font-size: 27.13px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-300);
    display: inline-block;
    width: 51px;
    height: 36px;
}
.vsco {
    position: absolute;
    top: 5249px;
    left: 832px;
    font-size: 27.13px;
    text-decoration: underline;
    letter-spacing: 0.03em;
    line-height: 160%;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-gray-300);
    display: inline-block;
    width: 104px;
    height: 43px;
}
.portfolio-desktop {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 5393px;
    overflow-y: auto;
    text-align: left;
    font-size: 21.38px;
    color: var(--color-black);
    font-family: var(--font-outfit);
}

